<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div class="edit-actions">
  <%= link_to "Show this movie", @movie, class:"nav-btn" %> 
  <%= link_to "Back to movies", movies_path, class:"nav-btn"  %>
</div>
